.App {
  text-align: center;
}

body {
  background-color: white;
}

.imageClass {
  width: 250px;
  height: 250px;
}


.mapContainer {
  height: 12%;
  width: 100%;
  position: fixed; 
} 

.mapIcon {
  height: 25px;
  width: 25px;
}

.webButton {
  margin: 0px 0px 0px 5px;
  
}


/* .databaseContainer {
  padding: 5px;
  overflow: scroll;
  width: 25%;
  position: absolute;
  left: 0;
  padding-right: 2em;
  padding-left: 2em;
  background-color: rgb(197, 205, 210);
}

.mapContainer {
  height: 50%;
  width: 77%;
  position: fixed;
  right: 0;
  padding-left: 1em;
} */
