.App {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

body {
  background-color: white;
}

.databaseContainer {
  padding: 5px;
  overflow: scroll;
  width: 25%;
  position: absolute;
  left: 0;
  padding-right: 2em;
  padding-left: 2em;
  background-color: rgb(197, 205, 210);
}

.mapContainer {
  height: 50%;
  width: 77%;
  position: fixed;
  right: 0;
  padding-left: 1em;
}

.mapIcon {
  height: 25px;
  width: 25px;
}
